*.js linguist-language=JavaScript
*.mjs linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
dist/assets/js/*.js linguist-generated=true
dist/assets/js/*.mjs linguist-generated=true 